@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300&subset=latin-ext');

 
body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background: #eee;
}

.title {
  color: #333;
  padding-top: 20%;
  padding-left: 20px;
  margin: 0px;
}

.subtitle {
  color: #666;
  font-size: 15px;
  padding-left: 20px;
  margin: 0px;
}
